
body{
	background: #ececec;
}
div{
	width: 700px;
    margin-left: auto;
    background: white;
    margin-right: auto;
    padding: 100px;
}

img{
	max-width: 100%;
}
h1{
	font-size: 60px;
    margin-top: 0;
}

spam{

    color: seagreen;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px #ff005845;
}
p
{
    font-size: 26px;
    color: #221f1f;
    line-height: 1.6;
}